<div class="container">
	<div class="row">
		<div class="col-md-12 service-text knitted-main">
			<p>We take great pride in our knowledge of fabrics and their construction. We import and export textiles from the power house factories of the world and if you combine that skill with our history and experience in the industry you can be sure you are getting the best deal, whether for a fresh production or a stock item.</p>
		</div>
		<div class="col-md-12 product-row fabrics-textiles-1">
			<div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/fabrics_textiles/1_knitting_wool.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/fabrics_textiles/2_pillows.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/fabrics_textiles/3_blankets.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/fabrics_textiles/4_swirls.jpg') %>
				</div>
			</div>
		</div>
		<div class="col-md-12 product-row fabrics-textiles-2" style="display:none;">
			<div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/fabrics_textiles/5_scarves.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/fabrics_textiles/6_printed.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/fabrics_textiles/7_bedding.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/fabrics_textiles/8_wool.jpg') %>
				</div>
			</div>
		</div>
	</div>
</div>