<div class="container">
	<div class="row">
		<div class="col-md-12 service-text knitted-main">
			<p>The network of factories that we work with allows us to produce any sort of knitted garments. We appreciate that clients in different regions will have preferences for different fashions. We make sure we select the appropriate factory, with expertise in producing the particular type and style of garment. Whether it's prints, embroidery, specific washes and effects, you name it - we will produce it.</p>
		</div>
		<div class="col-md-12 product-row children">
			<div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/children/boys_set_1.jpg') %>
				</div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/children/boys_set_2.jpg') %>
				</div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/children/girls_dress.jpg') %>
				</div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/children/girls_trousers.jpg') %>
				</div>
			</div>
		</div>
		<div class="col-md-12 product-row ladies" style="display:none;">
			<div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/ladies/hoody.jpg') %>
				</div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/ladies/longsleeve.jpg') %>
				</div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/ladies/pink_tshirt.jpg') %>
				</div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/ladies/yoga_pants.jpg') %>
				</div>
			</div>
		</div>
		<div class="col-md-12 product-row mens" style="display:none;">
			<div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/mens/hoody.jpg') %>
				</div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/mens/green_tshirt.jpg') %>
				</div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/mens/jogger_bottoms.jpg') %>
				</div>
				<div class="col-md-3">
					<%= image_tag('products/knitted/mens/long_sleeve.jpg') %>
				</div>
			</div>
		</div>
	</div>
</div>