<div class="container">
	<div class="row">
		<div class="col-md-12 service-text knitted-main">
			<p>Producing uniforms requires consistency. In all the regions where we manufacture garments we have our own qualified QC managers. Having this care at close proximity is the value add that we are able to provide in order to produce uniforms of all quality and sophistication.</p>
		</div>
		<div class="col-md-12 product-row uniforms-1">
			<div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/uniforms/1_medical.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/uniforms/2_handyman.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/uniforms/3_chef.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/uniforms/4_jumpsuits.jpg') %>
				</div>
			</div>
		</div>
		<div class="col-md-12 product-row uniforms-2" style="display:none;">
			<div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/uniforms/5_pinny.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/uniforms/6_chinese.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/uniforms/7_fluo.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/uniforms/8_school.jpg') %>
				</div>
			</div>
		</div>
	</div>
</div>