<div class="container">
	<div class="row">
		<div class="col-md-12 service-text knitted-main">
			<p>Our core strength has traditionally been in woven items. Our attention to detail on shirts is second to none and that is why we supply to some of the biggest brands in Asia and Europe. We also have access to some of the finest fabrics to produce exceptional trousers and shorts.</p>
		</div>
		<div class="col-md-12 product-row woven-1">
			<div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/woven/stacked_shirts.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/woven/shirt.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/woven/womans_shirt.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/woven/sleeveless_shirt.jpg') %>
				</div>
			</div>
		</div>
		<div class="col-md-12 product-row woven-2" style="display:none;">
			<div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/woven/ladies_trousers.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/woven/shorts.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/woven/mens_jeans.jpg') %>
				</div>
				<div class="col-md-3 image-col">
					<%= image_tag('products/woven/ladies_jeans.jpg') %>
				</div>
			</div>
		</div>
	</div>
</div>