<div class="container">
	<div class="row">
		<div class="col-md-12 service-text knitted-main clients-main">
			<p>Here are some of our end customers. Please contact us to discuss in detail our full client list.</p>
		</div>
		<div class="col-md-12 clients-main-logos">
			<div class="col-md-2">
				<%= image_tag('clients/1_batman.jpg', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/2_superman.png', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/3_yves.jpg', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/4_brands_outlet.png', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/5_justice_league.png', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/6_john_master.jpg', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/7_padini.jpg', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/8_double_two.png', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/9_jakel.jpg', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/10_seed.jpg', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/11_saville.jpg', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/12_lichfield.jpg', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/13_ben10.jpg', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/14_monoprix.png', class: 'clients-logo') %>
			</div>
			<div class="col-md-2">
				<%= image_tag('clients/15_jefferson.jpg', class: 'clients-logo') %>
			</div>
		</div>
	</div>
</div>